.main, 
.main-photos {
	display: flex;
}

.main {
	justify-content: space-between;
}

.main-photo1 {

	margin-top: 136px;
	margin-left: 181px;
	width: 441px;
	height: 621px;
	border: 9px solid #F8F8F8;
	border-radius: 250px;
	background: url('../images/photos/Rectangle-mount.svg') #FFFFFF;

}

.main-photo2 {
	margin-top: 267px;
	margin-left: -131px;
	width: 356px;
	height: 490px;
	border: 9px solid #F8F8F8;
	border-radius: 250px;
	background: url('../images/photos/Rectangle-mount.svg') #FFFFFF;
}

.text {
	margin-right: 350px;
	margin-top: 512px;
}

.text h1 {
	width: 900px;
	font-family: var(--b);
	font-size: 68px;
}

.text span {
	color: var(--blue);
}

.text p {
	width: 845px;
	font-family: var(--r);
	font-size: 20px;
	color: #898989;
}

.text button {
	margin-top: 13px;
	width: 261px;
	height: 72px;
}

@media (max-width: 1985px) {
	.text {
		margin-right: auto;
		margin-left: auto;
		margin-top: 100px;
	}

	.main-photo1 {
		margin-left: 100px;
	}
	.text button {
		margin-left:300px;
		margin-right: auto;
	}

	.text h1,
	.text p {
		text-align: center;
	}
}

@media (max-width: 1785px) {
	.main {
		flex-direction: column;
	}

	.main-photo1 {
		margin-left: 30vw;
	}
}

@media (max-width: 1450px) {
	.main-photo1 {
		margin-left: 26vw;
	}
}
@media (max-width: 1340px) {
	.main-photo1 {
		margin-left: 23vw;
	}
}

@media (max-width: 1210px) {
	.main-photo1 {
		margin-top: 60px;
		width: 320px;
		height: 410px;
		margin-left: 31vw;
	}

	.main-photo2 {
		margin-top: 127px;
		width: 256px;
		height: 350px;
		
		margin-left: -131px;
	}

	.text {
		margin-top: 20px;
	}
}

@media (max-width: 1000px) {
	.text h1{
		width: 561px;
		font-size: 24px;
	}
	.text p{
		width: 558px;
		font-size: 20px;
	}
	.text button{
		margin-left: 151px;
	}
	.main-photo1 {
		margin-left: 26vw;
	}
}

@media (max-width: 930px) {
	.main-photo1 {
		
		margin-left: 24vw;
	}
	
}

@media (max-width: 850px) {
	.main-photo1 {	
		margin-left: 20vw;
	}	
}

@media (max-width: 750px) {
	.main-photo1 {
		margin-left: 16vw;
	}	
}


@media (max-width: 640px) {
	.main-photo1 {
		margin-left: 9vw;
	}

	.text {
		margin-right: 20px;
	}
}

@media (max-width: 610px) {

	.text p{
		width: 440px;
	}

	.text h1 {
		width: 440px;
	}

	.text {
		margin-right: 74px;
	}

	.text button {
		margin-left: 90px;
	}
}

@media (max-width: 570px) {
	.main-photo1 {
		margin-left: 5vw;
	}

	.text {
		margin-right: 60px;
	}

	.text button {
		margin-left: 104px;
		width: 221px;
		height: 58px;
	}
}

@media (max-width: 530px) {
	.main-photo1 {
		margin-left: 0;
	}
}

@media (max-width: 460px) {
	.main-photo1 {
		width: 230px;
    	height: 312px;
    	margin-left: 10vw;
	}

	.main-photo2 {
		margin-top: 115px;
    	width: 193px;
    	height: 263px;
	}

	.text p {
		width: 100%;
    	margin-left: 35px;
	}

	.text h1 {
    width: 274px;
    margin-left: 82px;

    
    width: 100%;
    margin-left: 35px;

}

@media (max-width: 405px) {
	.main-photo1 {
		margin-left: 7vw;
	}

	
	.text button {
		margin-left: 73px;
	}
}
